<h1>Welcome to the login page</h1>


<%= form_for @user, url: users_path do |f|%>

  <% @user.errors.full_messages.each do |msg| %>
  <p>
  <%= msg %>
  </p>

<% end %>

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :name   %>
<%= f.text_field :name  %>

<%= f.submit %>
<% end %>
