<h1>These are all the links</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Vote Count
      </th>
      <th>
        Post
      </th>
      <th>
        Comments
      </th>
      <th>
        Submitted by
      </th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
    <tr>
      <td>
        <%# @links.vote_count %>
      </td>
      <td>
        <a href="<%= link.url %>">  <%= link.title %></a>
      </td>
      <td>
        <a href="/links/<%= link.title %>/comments">  <%= link.title %> comments</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Submit new link", new_link_path %>
