<!-- ask russell about viewing current webpage -->
<!DOCTYPE html>
<html>
<head>
  <title>RedditApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>
    <% if current_user %>

    <%= current_user.email %> is currently logged in.  Not you?
    <%= link_to "Log out", login_path, method: :delete %>
    <% else %>

    <%= link_to "Sign_up", new_user_path %>
    <%= link_to "Login", login_path %>

    <% end %>

    <%= yield %>
    <!-- <pre>
      <code>
        Current User ID
        <%= session[:user_id] %>
      </code>
    </pre> -->

  </main>
</body>
</html>
